html {
    height: 100%;
}

.container {
    width: 90%;
}

header {
    padding-left: 300px;

    nav.top-nav {
        height: 122px;

        a.page-title {
            line-height: 122px;
            font-size: 48px;
        }
    }
}

main {
    padding-left: 300px;
    padding-top: 25px;

    form {
        padding-top: 20px;
        padding-bottom: 20px;

        /* invalid color */
        .input-field input[type=text].invalid {
            border-bottom: 1px solid red;
            box-shadow: 0 1px 0 0 red;
        }
    }

    #addProduct {
        padding: 0.5rem;
        margin-bottom: 2rem;

        .row:last-child {
            margin-bottom: 0;
        }
    }

    .grid-link {
        cursor: pointer;
        user-select: none;
    }
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }

    nav .nav-wrapper {
        text-align:center;
    }

    .container {
        width: 95%;
    }
}