<!DOCTYPE html>
<html class="mdc-typography">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Entretiempo Deportivo</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/vendor.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/vendor.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
        <nav class="top-nav z-depth-3">
            <a href="#" data-activates="nav-mobile" class="button-collapse hide-on-large-only"><i class="material-icons">menu</i></a>
            <div class="container">
                <div class="nav-wrapper"><a class="page-title">@ViewData["PageTitle"]</a></div>
            </div>
        </nav>
        @await Component.InvokeAsync(nameof(Navbar))
    </header>
    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <environment include="Development">
        <script src="~/js/vendor.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/vendor.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
