@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="mdc-typography--display1">Persistent Drawer</h1>
    <p class="mdc-typography--body1">Click the menu icon above to open and close the drawer.</p>
</div>