@model InvoiceViewModel

@{
    ViewData["PageTitle"] = "Vender";
}
<div class="row">

    @Html.Partial("_InvoiceProductAddPartial")

    @await Component.InvokeAsync(nameof(FinalInvoice), Model)
</div>